@model PagedList.IPagedList<Give_Aid.Models.DataAccess.Organization>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Organization</h3>

                <div class="card-tools">
                    <form action="Organization" method="get" >
                        <div class="input-group input-group-sm" style="width: 220px;">
                            <div class="input-group-append"><a href="/Admins/Organization/Create" class=" btn btn-success">Create at</a></div>
                            <input type="text" name="search_name" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>CreateDate</th>
                            <th>UpdateDate</th>
                            <th>Status</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrganizationId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrganizationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MetaTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    <a href="/Admins/Organization/Edit/@item.OrganizationId"><span class="fa fa-edit"></span></a> |
                                   
                                    @Html.ActionLink("Delete", "Delete", new { id = item.OrganizationId, @class = "fa fa-trash", @style = "Color:firebrick" }, new { @onclick = "return confirm('you may want to delete ?')" })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index",new { page, search_name = ViewBag.search_name }))
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

