@model PagedList.IPagedList<Give_Aid.Models.DataAccess.Tag>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_Layout.cshtml";
}
<div style="padding-top:10px;margin-bottom:10px">
    <a href="/Admins/Tags/Create" class="btn btn-primary">Create</a>
    <a href="/Admins/Tags" class="btn btn-primary">Reload</a>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 style="margin-top:5px" class="card-title">List</h3>
                <form action="" method="get" >
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 220px;">
                            <div class="input-group-append"><a href="/Admins/Tags/Create" class=" btn btn-success">Create at</a></div>
                            <input type="text" name="search_name" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Create Date</th>
                            <th>Update Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TagId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TagName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>
                                <td>
                                    @{if (item.Status == true)
                                        {
                                            <p>Show</p>}
                                        else
                                        {<p>Hidden</p> } }
                                </td>
                                <td>
                                    <span class="fa fa-edit"></span> |
                                    @Html.ActionLink("Edit", "Edit", new { id = item.TagId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.TagId }, new { @onclick = "return confirm('you may want to delete ?')" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="float-left">@Html.PagedListPager(Model, page => Url.Action("Index", new { page, search_name = @ViewBag.search_name }))</div>
    </div>
</div>
