@{
    ViewBag.Title = "detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var getdetail = ViewBag.GetDetail;
    var getnewfund = (List<Give_Aid.Models.DataAccess.Fund>)ViewBag.Featured;
    var getdonate = (List<Give_Aid.Models.DataAccess.Donate>)ViewBag.GetDonate;
    var getcate = (List<Give_Aid.Models.DataAccess.Category>)ViewBag.GetCate;



}
<!-- Page Breadcrumbs Start -->
<section class="breadcrumbs-page-wrap">
    <div class="bg-fixed pos-rel breadcrumbs-page">
        <div class="container">
            <h1>Causes Detail</h1>
            <nav aria-label="breadcrumb" class="breadcrumb-wrap">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Causes Detail</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- Page Breadcrumbs End -->
<!-- About Us Style Start -->
<section class="wide-tb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="sidebar-spacer">

                    <h1 class="heading-main">
                        <small>Help Us Now</small>
                        @getdetail.FundName;
                    </h1>
                    <!-- Causes Single Wrap -->
                    <div class="causes-wrap single">
                        <div class="img-wrap">
                            <span class="tag-single">Education</span>
                            <img src="@getdetail.FundImg" alt="">
                        </div>

                        <div class="content-wrap-single">
                            <div class="featured-cause-timer">
                                <h3><strong class="txt-orange">$@getdetail.CurentAmount</strong> pledged of <strong class="txt-blue">$@getdetail.TargetAmount</strong></h3>

                                <div class="d-md-flex align-items-end justify-content-between">

                                    <a class="btn-outline-default btn" href="donation-page.html">Donate Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="content-wrap-single border-top">

                            @Html.Raw(@getdetail.Content);
                        </div>

                        <div class="share-this-wrap">
                            <div class="share-line">
                                <div class="pr-4">
                                    <strong>Share This</strong>
                                </div>
                                <div class="pl-4">
                                    <ul class="list-unstyled list-inline mb-0">
                                        <li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="icofont-instagram"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="icofont-behance"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="icofont-youtube-play"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Causes Single Wrap -->

                </div>

            </div>
            <div class="col-lg-3 col-md-12">
                <aside class="row sidebar-widgets">
                    <!-- Sidebar Primary Start -->
                    <div class="sidebar-primary col-lg-12 col-md-6">
                        <!-- Widget Wrap -->
                        <div class="widget-wrap">
                            <h3 class="widget-title">Recent Causes</h3>

                            <!-- Causes Wrap -->
                            @foreach (var item in getnewfund)
                            {
                                <div class="causes-wrap">
                                    <div class="img-wrap">
                                        <a href="causes-single.html"><img src="@item.FundImg" alt=""></a>
                                        <div class="raised-progress">
                                            <div class="skillbar-wrap">
                                                <div class="clearfix">
                                                    <span class="txt-orange">$10086</span> raised of <span class="txt-green">$15000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="content-wrap">
                                        <span class="tag">Health</span>
                                        <h3><a href="causes-single.html">Supply Water For Good Health</a></h3>
                                        <div class="text-md-right">
                                            <a href="@Url.Action("FundDetail","Fund",new{id=item.FundId})" class="read-more-line"><span>Read More</span></a>
                                        </div>
                                    </div>

                                </div>
                            }
                            <!-- Causes Wrap -->


                        </div>
                        <!-- Widget Wrap -->
                    </div>
                    <!-- Sidebar Primary End -->
                    <!-- Sidebar Secondary Start -->
                    <div class="sidebar-secondary col-lg-12 col-md-6">
                        <!-- Widget Wrap -->
                        <div class="widget-wrap">
                            <h3 class="widget-title">Our Donators</h3>

                            <div class="our-donators">
                                <ul class="list-unstyled">
                                    @foreach (var item in getdonate)
                                    {
                                        <li>
                                            <div>
                                                <h4 class="name">@item.CustomerId</h4>
                                                <div class="money">@item.Amount</div>
                                            </div>
                                        </li>
                                    }
                                </ul>

                                <a href="donation-page.html" class="btn-block btn btn-default">Become Donators</a>
                            </div>
                        </div>
                        <!-- Widget Wrap -->
                        <!-- Widget Wrap -->
                        <div class="widget-wrap">
                            <h3 class="widget-title">Categories</h3>

                            <div class="blog-list-categories">
                                <ul class="list-unstyled icons-listing theme-orange mb-0">
                                    @foreach (var item in getcate)
                                        {
                                            <li><a href="">@item.CategoryName</a></li>
                                        }
                                </ul>
                            </div>
                        </div>
                        <!-- Widget Wrap -->
                    </div>
                    <!-- Sidebar Secondary End -->


                </aside>
            </div>
        </div>
    </div>
</section>
<!-- About Us Style Start -->
<!-- Callout Style Start -->
<section class="wide-tb-150 bg-scroll bg-img-6 pos-rel callout-style-1">
    <div class="bg-overlay blue opacity-80"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <h1 class="heading-main light-mode">
                    <small>Help Other People</small>
                    We Dream to Create A Bright Future Of The Underprivileged Children
                </h1>
            </div>
            <div class="col-sm-12 text-md-right">
                <a href="#" class="btn btn-default">Donate Now</a>
            </div>
        </div>
    </div>
</section>
<!-- Callout Style End -->
