
@{
    ViewBag.Title = "Fund";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listAll = (PagedList.IPagedList<Give_Aid.Models.DataAccess.Fund>)ViewBag.Get;
    var listFeatured = (List<Give_Aid.Models.DataAccess.Fund>)ViewBag.Featured;
    var listfaq = (List<Give_Aid.Models.DataAccess.Faq>)ViewBag.GetFaq;



}



<!-- Page Breadcrumbs Start --> 
<section class="breadcrumbs-page-wrap">
    <div class="bg-fixed pos-rel breadcrumbs-page">
        <div class="container">
            <h1>Causes</h1>
            <nav aria-label="breadcrumb" class="breadcrumb-wrap">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Causes</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- Page Breadcrumbs End -->
<!-- Causes Grid Start -->
<section class="wide-tb-100">
    <div class="container">

        <div class="row">


            @foreach (var item in listAll)
            {
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <!-- Causes Wrap -->
                    <div class="causes-wrap">
                        <div class="img-wrap">
                            <a href="Fund/@item.MetaTitle-@item.FundId"><img src="@item.FundImg" alt="" height="275"></a>
                            <div class="raised-progress">
                                <div class="skillbar-wrap">
                                    <div class="clearfix">
                                        <p>
                                            $@item.CurentAmount raised of $@item.TargetAmount

                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="content-wrap" style="word-wrap: break-word">
                            <span class="tag">@item.Category.CategoryName</span>
                            <h3><a href="Fund/@item.MetaTitle-@item.FundId">@item.FundName</a></h3>
                            <p>@Html.Raw(item.Description)</p>
                            <div class="btn-wrap">
                                <a class="btn-primary btn" href="@Url.Action("DonateList","Donate",new {id = item.FundId})">Donate Now</a>
                            </div>
                        </div>

                    </div>
                    <!-- Causes Wrap -->
                </div>
            }
        </div>
        <div class="theme-pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @{
                        int count = (listAll.Count) ;
                        for (int i = 1; i <= count; i++)
                        {
                            <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- Causes Grid Start -->
<!-- Featured Cause Start -->
<section class="wide-tb-150 bg-white featured-heart-icon-hidden">
    <div class="container-fluid">
        <div class="row align-items-center">
            @foreach (var featured in listFeatured)
            {
                <div class="col-lg-7">
                    <div class="featured-causes-img container">
                        <img src="@featured.FundImg" alt="" width="100%">
                        <div class="featured-cause-timer">
                            <h3><strong class="txt-orange">$@featured.CurentAmount</strong> raised of <strong class="txt-blue">$@featured.TargetAmount</strong></h3>
                            

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="featured-content">
                        <div class="featured-heart-icon"><i class="charity-hearts"></i></div>
                        <h1 class="heading-main">
                            <small>Featured Cause</small>
                            @featured.FundName
                        </h1>
                        <p>@Html.Raw(@featured.Description)</p>
                        <div class="d-flex align-items-center justify-content-between mt-4">
                            <a href="@Url.Action("DonateList","Donate",new {id = featured.FundId})" class="btn btn-default">Donate Now</a>
                            <div class="share-on-text">
                                <strong>Share On</strong> <a href="#"><img src="assets/images/facebook.svg" alt=""></a> <a href="#"><img src="assets/images/instagram.svg" alt=""></a>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</section>
<!-- Featured Cause End -->
<!-- Faq's Style Start -->
<section class="wide-tb-100 feautred-faqs pb-0">
    <div class="container">
        <div class="pos-rel faqs-wrap">
            <div class="bg-overlay blue opacity-80"></div>
            <div class="row">
                <div class="col-12 col-lg-6 col-md-12">
                    <h1 class="heading-main light-mode">
                        <small>Have Questions</small>
                        Frequently Asked Questions
                    </h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <a class="btn btn-default" href="our-faqs.html">Ask It Now</a>
                </div>

                <!-- Spacer For Medium -->
                <div class="w-100 d-none d-sm-block d-lg-none spacer-60"></div>
                <!-- Spacer For Medium -->

                <div class="col-12 col-lg-6 col-md-12">
                    <div class="col-12 col-lg-6 col-md-12">
                        @foreach (var item in listfaq)
                        {
                            <div class="theme-collapse light">
                                <!-- Toggle Links  -->
                                <div class="toggle arrow-down">
                                    <span class="icon">
                                        <i class="icofont-plus"></i>
                                    </span> @item.Question
                                </div>
                                <!-- Toggle Links  -->
                                <!-- Toggle Content  -->
                                <div class="collapse show">
                                    <div class="content">
                                        @item.Answered
                                    </div>
                                </div>
                                <!-- Toggle Content  -->
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq's Style End -->
<!-- Our Partners Start -->

<!-- Our Partners End -->
