@model Give_Aid.Models.DAO.FaqClientDao
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<!-- Page Breadcrumbs Start -->
<section class="breadcrumbs-page-wrap">
    <div class="bg-fixed pos-rel breadcrumbs-page">
        <div class="container">
            <h1>Our Faq's</h1>
            <nav aria-label="breadcrumb" class="breadcrumb-wrap">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Our Faq's</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- Page Breadcrumbs End -->
<!-- About Us Style Start -->
<section class="wide-tb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <h1 class="heading-main">
                    <small>Ask Anything WIth Us</small>
                    Frequently Asked Questions
                </h1>

                <div class="theme-collapse">
                    @foreach (var item in Model.GetFaqs)
                    {
                        <!-- Toggle Links 1 -->
                        <div class="toggle arrow-down">
                            <span class="icon">
                                <i class="icofont-plus"></i>
                            </span>@item.Question
                        </div>
                        <!-- Toggle Links 1 -->
                        <!-- Toggle Content 1 -->
                        <div class="collapse show">
                            <div class="content">
                                @item.Answered
                            </div>
                        </div>
                        <!-- Toggle Content 1 -->
                    }
                </div>


            </div>
            <div class="col-lg-4 col-md-5">
                <div class="faqs-sidebar pos-rel">
                    <div class="bg-overlay blue opacity-80"></div>
                    <form method="post">
                        @if (ViewBag.msg != null)
                        {
                            <div id="success-alert" class="alert alert-success">@ViewBag.msg</div>
                        }
                        <h3 class="h3-sm fw-5 txt-white mb-3">Have any Question?</h3>
                        <div class="form-group">
                            <label for="name"><strong>Full Name</strong></label>
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control form-light" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="email"><strong>Email Address</strong></label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-light" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="msg"><strong>How can help you?</strong></label>
                            @Html.TextAreaFor(model => model.Question, new { @rows = "5", @class = "form-control form-light" })
                            @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-default mt-3">Ask It Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Style Start -->
<!-- Callout Style Start -->
<section class="wide-tb-150 bg-scroll bg-img-6 pos-rel callout-style-1">
    <div class="bg-overlay blue opacity-80"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <h1 class="heading-main light-mode">
                    <small>Help Other People</small>
                    We Dream to Create A Bright Future Of The Underprivileged Children
                </h1>
            </div>
            <div class="col-sm-12 text-md-right">
                <a href="#" class="btn btn-default">Donate Now</a>
            </div>
        </div>
    </div>
</section>
<!-- Callout Style End -->
<!-- Our Partners Start -->

<script>
    $("#success-alert").fadeTo(2000, 5000).slideUp(2000, function () {
        $("#success-alert").slideUp(500);
    });
</script>
<!-- Our Partners End -->
