@model Give_Aid.Models.DAO.BlogClientDao
<!-- Page Breadcrumbs Start -->
<section class="breadcrumbs-page-wrap">
    <div class="bg-fixed pos-rel breadcrumbs-page">
        <div class="container">
            <h1>Blog</h1>
            <nav aria-label="breadcrumb" class="breadcrumb-wrap">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Blog</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- Page Breadcrumbs End -->
<!-- Blog Post Start -->
<section class="wide-tb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="sidebar-spacer">
                    <div class="row">
                        <!-- Blog Wrap -->
                        @foreach (var item in Model.Blogs)
                        {
                            <div class="col-md-6 mb-0">
                                <div class="post-wrap">
                                    <div class="post-img">
                                        <a href="Blog/BlogDetail/@item.BlogId"><img src="@item.BlogImage" alt=""></a>
                                    </div>
                                    <div class="post-content">
                                        <div class="post-date">@item.CreateDate</div>
                                        <h3 class="post-title">
                                            <a href="">
                                                @Html.ActionLink(item.Title, "BlogDetail", new { id = item.BlogId })
                                            </a>
                                        </h3>
                                        <div class="post-category">@item.Tag.TagName</div>
                                        <div class="text-md-right">
                                            <a href="Blog/BlogDetail/@item.BlogId" class="read-more-line"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- Blog Wrap -->

                    </div>

                    <div class="theme-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                @{
                                    int count = (Model.BlogsPagination.Count() + 5) / 6;
                                    for (int i = 1; i <= count; i++)
                                    {
                                        <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-12">
                <aside class="row sidebar-widgets">
                    <!-- Sidebar Primary Start -->
                    <div class="sidebar-primary col-lg-12 col-md-6">
                        <!-- Widget Wrap -->
                        <div class="widget-wrap">
                            <h3 class="widget-title">Search Keywords</h3>

                            <form class="sidebar-search" method="get">
                                <input name="search_title" type="text" class="form-control" placeholder="Enter here search...">
                                <button type="submit" class="btn-link"><i class="icofont-search"></i></button>
                            </form>
                        </div>
                        <!-- Widget Wrap -->
                        <!-- Widget Wrap -->
                        <div class="widget-wrap">
                            <h3 class="widget-title">Categories</h3>
                            <div class="blog-list-categories">
                                <ul class="list-unstyled icons-listing theme-orange mb-0">
                                    @foreach (var item in Model.Tags)
                                    {
                                        <li><a href="?search_tag=@item.TagId">@item.TagName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- Widget Wrap -->
                        <!-- Widget Wrap -->
                        <div class="widget-wrap">
                            <h3 class="widget-title">News Posts</h3>

                            <div class="popular-post">
                                <ul class="list-unstyled">
                                    @foreach (var item in Model.BlogsNewpost)
                                    {
                                        <li>
                                            <img src="@item.BlogImage" alt="">
                                            <div>
                                                <h6><a href="Blog/BlogDetail/@item.BlogId">@item.Title</a></h6>
                                                <small>@item.CreateDate</small>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- Widget Wrap -->
                    </div>
                    <!-- Sidebar Primary End -->
                    <!-- Sidebar Secondary Start -->
                    <div class="sidebar-secondary col-lg-12 col-md-6">
                        <div class="widget-wrap">
                            <div class="sidebar-ads">
                                <img src="/content/assets/images/sidebar_ads.jpg" alt="">
                                <div class="content">
                                    <i class="charity-donate_money"></i>
                                    <h3>Let Us Come Together To Make A Difference</h3>
                                    <a href="donation-page.html" class="btn btn-secondary">Donate Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Widget Wrap -->
                    </div>
                    <!-- Sidebar Secondary End -->


                </aside>
            </div>
        </div>
    </div>
</section>
<!-- Blog Post End -->
